body {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: unset;
  background-color: beige;
}

.body {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 250px;
  height: 400px;
  padding: 20px;
  margin: 10vh;
  border-radius: 10px;
  background-color: white;
}
img {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&family=Outfit:wght@700&display=swap");

.Phrase {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&family=Outfit&display=swap");

.Catch {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font: size 15px;
  text-align: center;
}
